<!doctype html>
<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 新 Bootstrap5 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

        <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    </head>
</head>

<body>

<!--<nav class="navbar navbar-expand-sm navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--        <span class="navbar-text" style="font-size:0.8em">-->
<!--      {{update_time}} | {{handle_time}}-->
<!--    </span>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="./update_now">更新</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        热门-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="./hot3">3小时</a></li>-->
<!--                        <li><a class="dropdown-item" href="./hot6">6小时</a></li>-->
<!--                        <li><a class="dropdown-item" href="./hot12">12小时</a></li>-->
<!--                        <li>-->
<!--                            <hr class="dropdown-divider">-->
<!--                        </li>-->
<!--                        <li><a class="dropdown-item" href="./hot24">24小时</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">{{update_time}} | {{handle_time}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="./get_focus">关注</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
           aria-expanded="false">其他</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./update_now">更新</a></li>
            <li><a class="dropdown-item" href="./hot3">3小时</a></li>
            <li><a class="dropdown-item" href="./hot6">6小时</a></li>
            <li><a class="dropdown-item" href="./hot12">12小时</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="./hot24">24小时</a></li>
        </ul>
    </li>
</ul>

{% if fund %}
<p>
    国债：{{ fund.guozhai_grade }}|巴菲特：{{ fund.bafeite_grade }}|沪深300：{{ fund.danjuan_hushen_300_grade }}|上证50:：{{ fund.danjuan_shangzheng_50_grade }}
</p>


{% endif %}


{% block body %}
{% endblock %}


</body>
</html>