<!doctype html>
<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 新 Bootstrap5 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

        <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    </head>
</head>

<body>
{% for article in articles %}

<div class="card" style="width:100%">
    <a href="{{article.article_url}}" target="_blank" style="margin:0 auto;"><img src="/static/pic/{{article.local_article_pic_url}}" class="card-img-top" style="width:200px;" alt="..."></a>
    <div class="card-body">
        <h5 class="card-title">

            <a href="{{article.article_url}}" target="_blank" style="{% if article.stock_status_note %}color:gray;{% else %}color:black;{% endif %} font-weight:bold;font-size:medium;">
                {% if article.stock_status_note %}
                    <b style="color:gray">  【{{ article.stock_status_note }}】</b>
                {% endif %}

                {{ article.article_title }}

                {% if article.zhifa_tag %}
                    <b style="color:brown">  【{{ article.zhifa_tag }}】</b>
                {% endif %}
            </a>
        </h5>

        <p class="card-text" style="font-size:small;"><small class="text-muted"><b style="color:goldenrod;">价格：{{ article.article_price
            }} </b></small></p>
        <p class="card-text" style="font-size:small;"><small class="text-muted"><b>{{ article.article_mall }} | {{
            article.article_top_category }} | <b >热度：{{ article.article_score }}</b> | </b></small></p>

        <p class="card-text" style="font-size:small;">{{ article.article_content | safe}}</p>



        <p class="card-text" style="text-align:right;font-size:small;"><small class="text-muted"><b>时间：{{
            article.time_str }} | 值：{{ article.article_rating}} | 评论：{{ article.article_comment }} | 收藏：{{ article.article_collection
            }} </b></small></p>
    </div>
</div>
</div>
{% endfor %}

<div class="d-grid gap-2">
    <a class="btn btn-outline-success" href="./get_article?readed={{ article_ids_str }}" role="button"
       style="margin_bottom:10px">Refresh</a>
</div>
</body>
</html>